*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #edcece;
    width: 100vw;
}
header {
    color: white;
    width: 100%;
    letter-spacing:5px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: #edcece;
}
#title {
    width: 100%;
}
aside{

    float:right;
    background-color: antiquewhite;
    min-width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    }
content{
    float:left;
    width: 61%;
    background-color: #efc5b5;
    font-size:xx-large;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:5%;
}
content p{
    width: 60%;
}
content button {
    color: white;
    background: darkred;
    border: none;
    font-size:xx-large;
    padding:3%;
    float:right;
    margin-right: 3%;
    position: relative;
    margin-top: 10%;
    
}
::placeholder {
    font-family: sans-serif;
}

textarea {
    font-size: large;
    padding: 10px;
    margin: 10px 10px 10px 0px;
}

input{
    font-size: large;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
section{
    margin-top: 2%;
    padding:1%
}
section h1{
    text-align: center;
    margin-bottom: 1%;
}
section p{
    margin-bottom: 1%;
}
select{
    font-size:x-large;
}
input[type=checkbox] {
    transform: scale(2);
}
.remove{
    float:right;
    background: white;
    border: none;
    padding:3px;
    font-size:100%;
    margin-bottom: 10px;
    text-align: center;
}
main{
    padding-top: 2%;
    float:right;
    background-color: antiquewhite;
    min-width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    }
.contener{
    float: right;
    width: 33%;
}